.login-container {
  max-width: 420px;
  margin: 120px auto;
  padding: 2rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1rem;
}

.login-container h2 {
  margin-bottom: 1rem;
  color: #093d72;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login-container button {
  padding: 10px;
  background: #093d72;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background: #0059b3;
}
